button[type="submit"] {
	margin: 0px auto;
	float: none;
}

.h1-wrap {
	text-align: center;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF; 
}

.navbar-default .navbar-toggle:hover, .navbar-default .collapsed {
	background-color: transparent;
}

/* ==========================================================================
    About
========================================================================== */

#chefs, #menuCompleto .row {
	margin: 20px 0px;
}

#about p.about-desc-text {
	margin: 20px 0px;
} 

#about .background_content{
	background-image: url('../images/about-us.jpg');
}

.chef-photo, .menu-photo {
	display: block;
	width: 180px;
	height: 180px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 90px;
	margin: auto auto;
	border: 8px solid #CCC;
    -webkit-transition: border-color 1s; /* Safari */
    transition: border-color 1s;
}

#chefs .row [class*="col-"]:hover .chef-photo{
	border-color: #ff3300;
}

#menuCompleto .row [class*="col-"]:hover .menu-photo{
	border-color: #ff3300;
}

.chef-name:after, .food-name:after {
	content: " ";
	width: 110px;
	height: 1px;
	display: block;
	border-bottom: 2px solid #ff3300;
	margin: 10px auto auto auto;
}

.chef-text p {
	font-size: 16px;
}

/* ==========================================================================
    Food menu 
========================================================================== */
.menu-items {
    text-align:center;
    margin: 0 auto;
}

#food-menu ul {
    margin:0;
    padding:0;
    list-style:none;
    margin-bottom: 30px;
}

#food-menu ul li{
	margin: 5px 0px;
}