
/*========================
GLOBAL
=========================*/

@font-face{
    font-family: 'restaurantLogo';
    src: url(../fonts/aldine.ttf);
}


h1 {
    font-size: 37px;
    font-weight: 900;
    width: 414px;
    letter-spacing: 0.040em;
    position: relative;
    display: inline-block;
    margin: 25px auto !important;
    text-align: center;
    /*border: 1px solid rgba(47, 46, 47, 0.59);*/
}

h1:before, h1:after {
    content: " ";
    display: inline-block;
    width: 25px;
    height: 1px;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
}

h1:before {
    margin-right: 10px;
    left: 20px;
}

h1:after {
    margin-left: 10px;
    right: 20px;
}

.navactive{
   border-bottom: 1px solid #ff3300;
}

p.desc-text{
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
}

.text-content.container {
    margin-top: 65px;
    margin-bottom: -51px;
}

.right-text p{
    text-align: left !important;
    border-bottom: 1px solid;
    padding: 10px 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


li.item{
    position: relative; 
    width: 100%; 
    background: rgba(211, 15, 34, 1);
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.clear::after {
    content: "";
    display: table;
    clear: both;
}

h1, h2, p, span, a {
    font-family: "museo-sans", helvetica, sans-serif;
    color: #2f2e2f;
    /*margin: 0;*/
    padding: 0;
}


.color_animation {
    text-decoration: initial;
    margin-right: -30px;
    margin-left: -30px !important;
    color: white !important;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.color_animation:hover{
    color:#ff3300 !important;
}

/*========================
    NAV
=========================*/

div#bs-example-navbar-collapse-1 {
    height: 368px;
    overflow: hidden;
    text-align: center;
    text-decoration: none !important;
}
.navbar-brand{
    font-family: 'restaurantLogo', cursive;
    font-size: 34px !important;
    text-decoration: none;
    color: white !important;
}

nav {
    background: #1E1E1E !important;
    font-size: 18px;
    color: white !important;
}

li{
    color: black !important;
    word-spacing: 5px !important;
}

/*========================
INTRO CONTAINER
=========================*/
.starter_container {
    margin-top: -21px;
    padding: 0;
    min-width: 100%;
    height: 100%;
    background: url('../images/index.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    background-position: center;  
}

.follow_container {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
}



.top-title{
    color: white;
    font-family: 'restaurantLogo', cursive;
    font-size: 220px;
    font-weight: 400;
}

.second-title {
    font-weight: lighter; 
    font-size: 30px; 
    font-style: italic; 
    text-transform: capitalize;
    color: white;
}



/* ========================
    IMAGE INTRO BANNER CONTENT
   =========================*/

.background_content {
    position: relative;
    top: 0px;
    width: 100%;
    height: 350px;
    background-color: white;
    margin: 0 auto 0 auto;
    z-index: 98;
    text-align: center;
}

.background_content h1 {
    font-size: 3em;
    width: 60%;
    position: relative;
    top: 24%;
    color: white;
    padding: 0;
    border: 0;
    display: inline-block;
}

.background_content h1 span {
    color: white;
    border-bottom: 8px solid #fff;
}


 .featured.background_content{
    background: url('../images/featured.jpg') no-repeat center center; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

 .pricing.background_content{
    background: url('../images/pricing.jpg') no-repeat center center; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.reservation.background_content{
    background: url('../images/reservation-seat.jpg') no-repeat center center; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}






/*========================
DESCRIPTION BODY CONTENT
=========================*/
.description_content {
    padding: 50px 0;
    width: 100%;
    background: #fff;
    margin: 0 auto 0 auto;
    z-index: 99;
    position: relative;
    background: white;
    text-align: center; 
}

.description_body {
    margin: 45px auto;
    max-width: 300px;
}

 h1 {
   font-size: 28px;
    font-weight: 900;
    width: 225px;
    letter-spacing: 0.040em;
   /* border: 8px solid #2f2e2f;*/
    display: inline-block;
    padding: 7px 16px;
    margin: 0;
}



/*========================
FOOTER CONTENT
=========================*/

footer.sub_footer {
    background-color: #1C1C1C;
    padding: 20px;
}

p.sub-footer-text{
    color: #6B6B6B;
}

p.sub-footer-text a{
    color: #BDBDBD;
    text-decoration: none;
}


.contact-text{
    margin:45px auto;
}

#contact .contact-form{
    margin: 0 auto;
    padding:25px 25px 0px 25px;
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.2);
}

.mail-message-area{
    width:100%;
    padding:0 15px;
}


.inner.contact {
    padding: 0px 0px 50px 0px;
}


.form{
    width: 100%;
    padding: 16.94px;
    border: 1px solid rgba(13, 12, 12, 0.23);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form:hover{
    border:1px solid #ff3300;
}

.form:focus{
    color: white;
    outline: none;
    border:1px solid #ff3300;
}

.textarea{
    height: 206px;
    /*max-height: 200px;*/
    max-width: 100%;
} 


.button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.button:hover{
    background:#8BC3A3;
    color:white;
}


.form-btn{
    width:180px;
    display: block;
    float: left;
    height: auto;
    padding:15px;
    color:#fff;
    background:rgba(255, 51, 0, 1);
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 auto !important;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    text-align: center;
}

.form-btn:hover{
    background: rgba(255, 118, 102, 1);
    color: white;
    border:none;
}

.form-btn:active{
    opacity: 0.9;
}

div.fa {
    display: block;
    padding: 30px 0px 25px 0px;
}

div .fa-2x {
    padding: 30px 0px 25px 0px;
}

h1 {
    text-transform: capitalize;
}
.navbar-default {
    border: 0 !important;
}

/*========================
MEDIA QUERIES MOBILE
=========================*/

@media (max-width: 660px) {
    .top-title {
        font-size: 67px;
    }

    .second-title {
        font-size: 21px;
    }

    .background_content h1 {
        width: 80%;
        font-size: 2.5em;
    }

    .form-btn {
        margin: 0px auto;
        /* display: block; */
    }
}


/*========================
MEDIA QUERIES TABLET
=========================*/


@media (min-width: 400px) { 
    .starter_container {
        height: 100%;
    }
    .background_content h1 {
      top: 33%;
    }  
}

/*========================
MEDIA QUERIES TABLET
=========================*/


@media (min-width: 767px) { 
  
    .starter_container {
            height: 100%;
    }


    .navbar-default{
        height: 70px;
        padding-top: 10px;
    }

    nav li{
        padding-right: -15px;
    }

    .navbar-brand{
        font-family: 'restaurantLogo', cursive;
        font-size: 60px !important;
        text-decoration: none;
        color: white !important;
    }

    nav {
        position: fixed;
        display: block;
        position: fixed;
        width: 100%;
        height: 55px;
        z-index: 100;
        margin: 0;
        padding: 0;
        background-color: #1e1e1e;
        text-align: center;
    }

    .logo {
        display: none;
    }

    .main-nav {
        padding: 0;
        margin: 18px auto 0 auto;
    }

    .main-nav li {
        display: inline-block;
        list-style: none;
        margin: 0 29px 0 29px;
    }

    .logo a,  .main-nav a {
        font-size: 0.75000em;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        display: block;
        text-align: center;
        padding: 2px 0;
        transition: color 0.3s ease-in-out;
    }

    .main-nav a:hover {
        color: #6c8f34;
    }

    .direction a {
        border: 5px solid rgba(0,0,0,0);
        display: inline-block;
        width: 45px;
        height: 45px;  
        background-size: 30px; 
    }

    .direction a:hover {
        border: 5px solid #6D903C;
    }

    /*========================
    DESCRIPTION BODY CONTENT
    =========================*/

    .description_body {
        margin: 45px auto;
        max-width: 500px;
    }

    h1 {
        font-size: 32px;
        font-weight: 900;
        width: 280px;
        letter-spacing: 0.040em;
        /*border: 1px solid #2f2e2f;*/
    }

    .picture_content {
        display: inline-block;
        padding: 0 20px;
    }

    /*========================
    IMAGE INTRO BANNER CONTENT
    =========================*/

    .background_content {
        position: relative;
        top: 0px;
        width: 100%;
        height: 500px;
        background-color: white;
        margin: 0 auto 0 auto;
        z-index: 98;
        text-align: center;
    }

    .background_content h1 {
        font-size: 4.5em;
        position: relative;
        top: 41%;
        width: 100%;
        color: white;
        padding: 0;
        border: 0;
        display: inline-block;
    }

    .background_content h1 span {
        color: white;
        padding: 0;
        border-bottom: 10px solid #fff;
    }
}



/*========================
MEDIA QUERIE DESKTOP
=========================*/

@media (min-width: 1100px) { 

    .starter_container {
        background-attachment: fixed;
    }


    /*========================
    BACKGROUND CONTENT
    =========================*/


    .background_content h1 {
        font-size: 5em;
        position: relative;
        top: 41%;
        width: 100%;
        color: white;
        padding: 0;
        border: 0;
        display: inline-block;
        margin-top: 20px;
    }

    .background_content h1 span {
        color: white;
        padding: 0;
        border-bottom: 12px solid #fff;
    }

    /*========================
    DESCRIPTION BODY CONTENT
    =========================*/

    .margin-right {
        margin-right: 5%;
    }

    .margin-left {
        margin-left: 5%;
    }

    .background_content:nth-of-type(2),
    .background_content:nth-of-type(4) {
        background-attachment: fixed;
    }

    .description_body {
        max-width: 450px;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        margin-top: 10px;
    }


}

